

<div ng-repeat="pet in ctrl.allPets" id="image-feed">
    <!-- <div class="post-card"> -->
            <div class="profile-credentials">
                <img ng-src="{{pet.profileImg}}" id="profile-img"> <!-- small profile image -->
                <div class="username-petname">
                    <h4>{{pet.username}}<h4>
                    <h4>{{pet.name}}</h4>
                </div>
            </div>
            <div class="image-container">
                <img ng-src="{{pet.posts[0].image}}" id="post-img"> <!-- larger main image -->
            </div>

        <!-- <button ng-click="ctrl.deletePet(pet._id)">DELETE</button>
        <button ng-click="ctrl.indexOfEditFormToShow === $index ? ctrl.indexOfEditFormToShow = null : ctrl.indexOfEditFormToShow = $index">Edit</button>
    </div> -->
 <!-- end ng-repeat for allPets array -->
</div>
