.nav-container {
    height: 50px;
    display: flex;
    align-items: center;
    background: deepskyblue;
    width: 100%;
    position: fixed;
    top: 0;
}

nav a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

.logo-container {
    align-self: flex-start;
}

.nav-logo {
    height: 50px;
    width: 50px;
    align-self: flex-start;
}

nav a:hover {
    background: darken(deepskyblue, 5%)
}

h3 {
    font-family: 'Hi Melody', cursive;
    font-size: 2em;
    text-align: center;
    border-bottom: dashed 2px black;
    margin-top: 5%;

}

h1 {
    font-family: 'Hi Melody', cursive;
    color: white;
    margin-left: 150px;
    font-size: 50px;
    padding-bottom: 7px;
}

p {
    font-family: helvetica, cursive;
    text-align: center;
    font-size: 1em;
}

input [type=text] :focus {
    border: 3px solid #555;
}

input {
    width: 50%;
    height: 20px;
}

button {
    border: 0;
    background: black;
    color: white;
}

button:hover {
    transition: 0.4s;
    background-color: green;
}

.form-container {
    text-align: center;
}
.login-container {
    width: 75%;
    align-items: center;
    margin-top: 3%;
}

form {
    width: 100%;
}

.description-container {
}

.info-container {
    width: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.signup-container {
    width: 75%;
    align-items: center;
    text-align: center;
}
